<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">

<h3>以下の内容で送信する</h3>

<%=form_for(@blog)do|f|%>
　　　
<%=f.hidden_field:content%>

<p>本文:<%=@blog.content%></p>

<div class="row">
 <div class="col-sm-offset-4 col-xs-4">

<%=f.submit"登録する",class: 'btn btn-primary btn-block'%>
 </div>
</div>


<% end %>

<%= form_for(@blog, url: new_blog_path, method: 'get') do |f| %>
  <%= f.hidden_field :content %>
  <div class="row">
 <div class="col-sm-offset-4 col-xs-4">
  <%= f.submit "もどる", class: 'btn btn-default btn-block' %>
   </div>
</div>

<% end %>
</div>
</div>
